<div class="slab">
  <div class="grid">
    <div class="grid__item width-five-sixths shift-one-twelfth">
      <div class="form-card form-card--transition">
        <div class="form-card__content">
          <div class="emoji emoji--big emoji--mail-open with-padding-med"></div>
          <h1 class="form-card__title with-padding-med">Thanks! We'll send you a reminder soon.</h1>
          <%= link_to "Back to ClaimTheCredit.org", root_path, class: "button button--cta" %>
        </div>
      </div>
    </div>
  </div>
</div>