<div class="slab">
  <div class="grid">
    <div class="grid__item width-five-sixths shift-one-twelfth">
      <div class="form-card">
        <div class="form-card__content">
          <h1 class="form-card__title">Thanks! We will send you a reminder soon!</h1>
        </div>
      </div>
    </div>
  </div>
</div>