<p>
  Hello from GetYourRefund.org!
<br />
  We have received your signed federal and state tax returns. Your tax preparer will submit your tax returns to the IRS
  within the next day. If you qualified for a refund, you should receive a check or direct deposit within the next
  month.
</p>

<p>
  Best,
  <br />
  The Code for America VITA Support Team
  <br />
  <%= root_url %>
</p>
