<p>
  Hello from GetYourRefund.org!
<br /><br/>
  Your state & federal tax returns are ready. You can review them at this link: <%=@signing_request_link %><br/><br/>

  To protect your privacy, the link will expire in 5 days. Ask us if you need a new one.
</p>

<p>
  Best,
  <br />
  The Code for America VITA Support Team
  <br />
  <%= root_url %>
</p>
