<p>
  Hello from GetYourRefund.org!
<br />
  We have received your tax information. Our tax payers will review it and be in touch within the next few days. You can
  reply to this email anytime if you have questions.
</p>

<p>
  Best,
  <br />
  The Code for America VITA Support Team
  <br />
  <%= root_url %>
</p>
