<p>Hello from GetYourRefund.org,</p>

<p>
Your <%= @signing_request.year %> tax return is prepared and ready. You can review it at the link below.
  If they look good to you, you can sign and our preparers will e-file them for you. </p>

<p>
  You can review your prepared return at this link: <%=@signing_request.signature_url %>
</p>

<p>
  To protect your privacy, the link will expire in 5 days. If you need a new link, email us at vita-support@codeforamerica.org
</p>

<p>
  Best,
  <br />
  The GetYourRefund.org Team
  <br />
  <%= root_url %>
</p>
