<p>Hello from GetYourRefund.org,</p>

<p>
Your state and federal tax returns are prepared and ready. You can review them at the link below.
  If they look good to you, you can sign and our preparers will e-file them for you. </p>

<p>
  You can review your prepared returns at this link: <%=@signing_request_link %>
</p>

<p>
  To protect your privacy, the link will expire in 5 days. If you need a new link, email us at vita-support@codeforamerica.org
</p>

<p>
  Best,
  <br />
  The GetYourRefund.org Team
  <br />
  <%= root_url %>
</p>
