<p>
  Hello from GetYourRefund.org!
<br />
  We have received your signed approval to file your state and federal taxes. Our tax preparers will submit your
  taxes and you should receive your refund within the next 3-4 weeks.
</p>

<p>
  Best,
  <br />
  The Code for America VITA Support Team
  <br />
  <%= root_url %>
</p>
