<% content_for :form_card_title do %>
  Thank you for your time
<% end %>

<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <h1 class="form-card__title with-padding-small">Thank you for your time</h1>
    <p>
      We thank you for the time you took to answer these questions,
      but right now we are looking for people in a slightly different situation.
    </p>
  </div>
<% end %>