<% content_for :content do %>

  <section class="slab slab--off-white">
    <div id="how-its-free" class="grid">
      <div class="grid__item width-full">
        <div>
          <div class="how-its-free-logo">
            <%=image_tag "partner_logos.png"%>
          </div>
          <div class="how-its-free-desc">
            <h2 class="h2">Helping low-income households get the tax refunds they’ve earned.</h2>
            GetYourRefund.org is a <strong>non-profit service</strong> built by
            <a target="_blank" href="https://www.codeforamerica.org">Code for America</a>. We partner with
            <a target="_blank" href="https://www.garycommunity.org/tax-help-colorado-0">Tax Help Colorado</a> and
            <a target="_blank" href="https://earnitkeepitsaveit.org/">Earn It! Keep It! Save It!</a> to provide free
            IRS-certified tax help to low income, disabled, or limited English speaking households.
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="slab slab--white">
    <div id="how-it-works" class="grid">
      <div class="grid__item width-two-thirds shift-one-sixth">
        <h2 class="h2">Here's how GetYourRefund works.</h2>
        <div class="how-it-works-step">
          <div class="how-it-works-step-emoji emoji emoji--huge emoji--id_docs"></div>
          <div class="how-it-works-step-desc">
            <strong>Apply for help online.</strong><br>
            Take 10 minutes to answer a few questions and snap pictures of (or upload) your ID and tax documents.
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="how-it-works-step">
          <div class="how-it-works-step-emoji emoji emoji--huge emoji--telephone-receiver"></div>
          <div class="how-it-works-step-desc">
            <strong>We’ll review everything together over the phone.</strong><br>
            Our IRS-certified tax volunteers will review your situation. Once your tax return is ready, we'll schedule
            a call to review with you.
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="how-it-works-step">
          <div class="how-it-works-step-emoji emoji emoji--huge emoji--dollar-banknote"></div>
          <div class="how-it-works-step-desc">
            <strong>We’ll help you file and get your refund (if you want)!</strong><br>
            If you choose to file your taxes, our tax volunteers will help you e-file. You’ll usually get your refund
            within a month via check or direct deposit.
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="how-it-works-button">
          <%= link_to next_path, class: "button button--cta with-padding-med" do %>
            Get help now
          <% end %>
        </div>
      </div>
    </div>
  </section>

<% end %>
