<% content_for :content do %>
    <section>

      <div class="grid">
        <div class="grid__item">
          <h1>Major heading</h1>

          <%= link_to next_path, class: "button button--cta with-padding-med" do %>
            Important call to action
            <i class="button__icon icon-arrow_forward"></i>
          <% end %>

        </div>
      </div>
    </section>
<% end %>
