<% content_for :form_card_title do %>
  Anything else?
<% end %>

<% content_for :form_card_content do %>
  <%= form_for @form, url: current_path, method: :put, local: true, builder: Cfa::Styleguide::CfaFormBuilder, html: { class: 'form-card' } do |f| %>
    <h2>Anything else you'd like your tax preparer to know about your situation?</h2>
    <p class="text--small with-padding-med">
      For example, are you missing any documents, or did you have major changes in your household situation this year?
      If not, you can leave this blank.
    </p>
    <%= f.cfa_textarea :anything_else, "", options: { rows: 6 } %>
    <div class="form-card__footer">
      <%= f.button :submit, class: 'button button--primary with-padding-small' do %>
        Continue
      <% end %>
    </div>
  <% end %>
<% end %>
