.form-card {
  margin-top: 1em;
  border-top: none;
  border-radius: 8px;
  margin-bottom: 60px;
}

.form-card--notice {
  padding-top: 0;
  .form-card__header {
    padding-top: 2em;
    padding-bottom: 2em;
    background: linear-gradient(to right, rgba($color-magenta, .015) 0%, rgba($color-teal, .04) 65%);
  }
}

.form-card--invisible {
  padding: 1.5em $site-margins/2;
  margin-bottom: 2em;
  margin-left: -.5em;
  margin-right: -.5em;

  > *:last-child {
    margin-bottom: 0;
  }

  @include media($tablet-up) {
    padding: 1.5em 2em;
    margin-left: 0;
    margin-right: 0;
  }
}

.form-group {
  margin-bottom: $padding-med;
}


.form-card__header {
  border-bottom: none;
}

.form-card__footer {
  border-top: none;
}

.text--small, .form-card__title, .text--help {
  line-height: $line-height-display;
}