.main-header__site-name {
  font-size: $font-size-small;
  line-height: $line-height-normal;
  margin-bottom: 0;
  font-weight: 500;
  color: #121111;

  a {
    color: #121111;
    text-decoration: none;
    img {
      width:25px;
      height:22px;
      vertical-align:top;
    }
  }
}