.emoji--laptop {
  background-image: image-url('emojis/laptop-computer.png')
}

.emoji--double-stars {
  background-image: image-url('emojis/double-stars.png')
}

.emoji--clipboard {
  background-image: image_url('emojis/clipboard.png')
}

.emoji--front-facing-baby-chick {
  background-image: image_url('emojis/front-facing-baby-chick.png')
}

.emoji--ring {
  background-image: image_url('emojis/ring.png')
}

.emoji--telephone-receiver {
  background-image: image_url('emojis/telephone-receiver.png')
}

.emoji--dollar-banknote {
  background-image: image_url('emojis/dollar-banknote.png')
}

.emoji--inbox-tray {
  background-image: image_url('emojis/inbox-tray.png')
}

.emoji--white-heavy-checkmark {
  background-image: image_url('emojis/white-heavy-checkmark.png')
}
