.image-set {
  margin: 0;
  padding: 10px;
  text-align: center;
  @media screen and (min-width: 601px) {
    padding: 12px;
  }
  @media screen and (min-width: 961px) {
    padding: 15px;
  }
}

.image-set__item {
  margin: 10px;
  @media screen and (min-width: 601px) {
    margin: 12px;
  }
  @media screen and (min-width: 961px) {
    margin: 15px;
  }
  display: inline-block;
  text-align: center;
}

$cdle-logo-height: 37px;
$uw-logo-height: 37px;
$gci-logo-height: 40px;
$cfa-logo-height: 40px;
$vertical-align-padding: 10px;

.image--cfa-logo {
  margin-left: 0;
  height: $cfa-logo-height;
  @media screen and (min-width: 601px) {
    height: $cfa-logo-height * 1.5;
  }
  @media screen and (min-width: 961px) {
    height: $cfa-logo-height * 1.75;
  }
}

.image--cdle-logo {
  height: $cdle-logo-height;
  padding-top: $vertical-align-padding;
  @media screen and (min-width: 601px) {
    height: $cdle-logo-height * 1.5;
    padding-top: $vertical-align-padding * 1.5;
  }
  @media screen and (min-width: 961px) {
    height: $cdle-logo-height * 1.75;
    padding-top: $vertical-align-padding * 1.75;
  }
}

.image--gci-logo {
  height: $gci-logo-height;
  @media screen and (min-width: 601px) {
    height: $gci-logo-height * 1.5;
  }
  @media screen and (min-width: 961px) {
    height: $gci-logo-height * 1.75;
  }
}

.image--uw-logo {
  height: $uw-logo-height;
  padding-top: $vertical-align-padding;
  @media screen and (min-width: 601px) {
    height: $uw-logo-height * 1.5;
    padding-top: $vertical-align-padding * 1.5;
  }
  @media screen and (min-width: 961px) {
    height: $uw-logo-height * 1.75;
    padding-top: $vertical-align-padding * 1.75;
  }
}
