
<% content_for :content do %>
  <section class="slab">
    <div class="grid">
      <div class="grid__item width-five-sixths shift-one-twelfth">
        <main id="result" class="form-card form-card--transition form-card--notice">
          <div class="form-card__header">
            <div class="emoji emoji--big emoji--money"></div>
            <h1 class="h3 form-question">
              You're estimated EITC refund is:
              <span class="figure color--green">
              <%= number_to_currency(current_eitc_estimate.refund, precision: 0) %>
            </span>
            </h1>
          </div>

          <div class="form-card__content">
            <h2>What next?</h2>
            <p>Get help filing for free</p>

            <%= render 'shared/filing_option_lead_ins' %>
          </div>
        </main>
      </div>
    </div>
  </section>
<% end %>
