<% content_for :form_card_title do %>
  Tax Documents
<% end %>

<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <div class="form-card__header">
      <%= render "components/molecules/progress_step_bar" %>
      <h1 class="form-card__title">First, let’s get any tax documents you have.</h1>
    </div>

    <div class="form-card__content">

      <p class="text--small">
        Common documents include:
        <ul>
          <li>
            W-2s
          </li>
          <li>
            1099s
          </li>
        </ul>
      </p>

      <div class="form-card__footer">
        <div class="with-padding-med">
          <%= link_to next_path, class: "button button--primary with-padding-med" do %>
            Continue
            <i class="button__icon icon-arrow_forward"></i>
          <% end %>
        </div>

        <div class="grid with-padding-large">
          <div class="grid__item width-one-sixth emoji emoji--big emoji--lock" style="min-height: 100px;">
          </div>
          <div class="grid__item width-five-sixths text--small text--left" style="padding-left: 20px;">
            We take your privacy seriously. Rest assured that these documents are kept in a secure location and will not be shared with the IRS or any other organization. If you decide to file, relevant documents will be included with your tax return to the IRS.
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>

