<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <div class="form-card__header with-padding-large">
      <div class="emoji emoji--big emoji--white-heavy-checkmark with-padding-med"></div>
      <h1 class="form-card__title with-padding-small">Your tax information has been successfully submitted!</h1>
      <p>
        Signed <%= current_signing_request.local_signed_at.strftime("%l:%M %P %Z on %b %-m, %Y")%>
      </p>
    </div>

    <div class="form-card__content">
      <div class="text--centered">
        <h2>What to expect next</h2>
        <p>
          Your tax preparer will submit your tax return to the IRS within the next day. If you qualified for a refund,
          you should receive a check or direct deposit within the next month.
        </p>
      </div>

      <div class="form-card__content">
        <div class="text--centered">
          <h2>Let us know how it went for $5!</h2>
          <p class="with-padding-med">
            Your feedback is important so we can make GetYourRefund.org even better. If you complete this survey you
            will be sent a $5 Amazon gift card and be eligible for more paid research opportunities.
          </p>
          <div>
            <%= link_to "https://codeforamerica.co1.qualtrics.com/jfe/form/SV_eyuicC2PFuxeIHb?ExternalDataReference=vc-#{current_vita_client.id}", class: "button button--cta with-padding-med", target: "_blank" do %>
              Let us know how we did
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

