.template--homepage {
  margin-bottom: 0;

  .slab--fold {
    padding-bottom: 0;
    background: rgba(shade($color-dark-grey, 80%), .6);
    color: white;
    .h1 {
      margin-top: 3em;
      margin-bottom: 0;
    }
    .h3 {
      font-size: $font-size-normal;
      font-weight: normal;
      line-height: $line-height-normal;
      margin-top: 0;
    }


    &:before {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: image-url('GCF104-lennie-jane-family_mobile.jpg');
      background-size: cover;
      background-position: top center;
      @include media($tablet-up) {
        background-image: image-url('GCF104-lennie-jane-family.jpg');
      }
    }
  }

  .logo-panel {
    background: rgba(#000, 0.85);
    @include full-bleed();
    max-width: 200%;
    margin-top: 6rem;
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media screen and (min-width: 601px) {
      //padding: 0;
      //padding-top: 1em;
      //padding-bottom: 1em;
    }
    .grid__item {
      text-align: center;
    }
  }
  .logo-panel__item {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 48.8211739883%;;
    &:last-child {
      margin-right: 0;
    }
  }

  .main-header {
    position: relative;
    background: linear-gradient(0, rgba(#000000, 0) 0%, rgba(#000000, .5) 99%);
    border: 0;
    z-index: 2;
    padding-bottom: 4em;
    margin-bottom: -7.5em;
    overflow: visible;
    .toolbar__item {
      color: #fff;
    }
  }

  .main-header__site-name {
    a {
      color: white;
    }
  }

}
