html {
  background-color: #F7F5F4;
}

.template--homepage {
  margin-bottom: 150px;

  .slab {
    border-bottom: none;
  }

  .slab--fold {
    color: #121111;
    border-bottom: none;
    padding-bottom: 3.1em;

    div.width-one-half {
      float: none;
    }

    .h1 {
      margin-top: .15em;
      font-size: 5rem;
      line-height: 1.2em;
    }
    .h3 {
      font-size: $font-size-normal;
      font-weight: normal;
      line-height: $line-height-display;
      margin-top: 1.4em;
      max-width: 480px;
    }

    .button {
      margin-top: 2.2em;
    }

    &:before {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .15;
      background-image: image-url('dollar-hero.png');
      background-repeat: no-repeat;
      background-size: 476px 365px;
      background-position: bottom right;
      @include media($tablet-up) {
        opacity: .5;
      }
    }
  }

  .refund-panel {
    background: white;
    @include full-bleed();
    max-width: 200%;
    padding: 5.5rem 0 4.4rem 0;
    position: relative;

    .refund-panel__item {
      display: block;
      padding: 0 2rem;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }

      @include media($tablet-up) {
        float: left;
        margin-right: 2em;
        max-width: 45%;
        padding: 0 4rem 0 0;
        &:last-child {
          padding: 0;
          margin-right: 0;
          float: right;
        }
      }

      ul {
        list-style: disc;
        padding-left: 2em;
      }

      .refund-size {
        font-size: 5rem;
        font-weight: bold;
        color: #00891B;
        margin-bottom: 35px;
        padding-top: 15px;
      }

      .refund-size-desc {
        font-weight: bold;
        line-height: 1.4em;
      }
    }
  }

  div#how-it-works {
    .h2 {
      text-align: center;
      margin: 40px 0 54px 0;
    }

    .how-it-works-step {
      margin: 48px 0;
      text-align: center;

      @include media($tablet-up) {
        text-align: left;
      }
    }

    .how-it-works-step-desc {
      @include media($tablet-up) {
        float: left;
        width: 75%;
      }
    }

    .how-it-works-step-emoji {
      display: block;
      margin: 0 auto;
      width: 2em;
      height: 2em;
      margin-bottom: 20px;
      @include media($tablet-up) {
        float: right;
        margin: 0;
        width: 5em;
        height: 5em;
      }
    }

    .how-it-works-button {
      text-align: center;
    }
  }

  div#how-its-free {
    .h2 {
      margin: 2rem 0 2.4rem 0;
    }

    .how-its-free-desc {
      @include media($tablet-up) {
        float: left;
        width: 65%;
        line-height: 1.4em;
      }
    }

    .how-its-free-logo {
      display: block;
      margin: 0 auto 20px auto;
      width: 100%;
      text-align: center;
      @include media($tablet-up) {
        width: 35%;
        text-align: center;
        float: right;
        margin: 40px 0 0 0;
      }
    }
  }

  .main-header {
    background: none;
    position: relative;
    border: 0;
    z-index: 2;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: visible;
    .toolbar__item {
      color: #fff;
    }
  }

  .main-header__site-name {
    a {
      color: #121111;

      img {
        width:25px;
        height:22px;
        vertical-align:top;
      }
    }
  }

  .main-footer {
    height: 150px;
  }
}
