<% content_for :form_card_title do %>
  We’ll need your consent to continue.
<% end %>

<% content_for :form_card_content do %>
  <%= form_for @form, url: current_path, method: :put, local: true, builder: Cfa::Styleguide::CfaFormBuilder, html: { class: 'form-card' } do |f| %>

        <div class="form-card__header">
          <h1 class="form-card__title">We’ll need your consent to continue.</h1>
        </div>

        <div class="form-card__content">
          <p>
            By signing below, you agree to the following:
          </p>

          <ol class="list--numbered">
            <li>Our tax preparers can start a tax return for you based on the information you’ve provided. However, they will not file without your authorization.</li>
            <li>Our tax preparers can reach out to you via phone, text message, or email to follow up on the tax prep process.</li>
            <li>Your documents will be stored on a secure server in order to allow our tax prepares to remotely view your documents and information. Any of your documents or personal identifiable information will be deleted from our servers as soon as we have helped you file your returns or after 3 months have past, whichever comes first.</li>
            <li>You have fully read, or have had read to you, the Virtual VITA/TCE Taxpayer Consent Form (14446)</li>
          </ol>

          <p>
            Please type your full name to sign below if you agree.
          </p>

          <%= f.cfa_input_field(:signature, 'Your signature', classes: ['form-width--long']) %>
          <% if current_vita_client.added_spouse? %>
            <%= f.cfa_input_field(:spouse_signature, "#{current_vita_client.spouse.full_name}'s signature, if filing jointly", classes: ['form-width--long']) %>
          <% end %>
        </div>

      <div class="form-card__footer">
        <%= f.button :submit, class: 'button button--primary with-padding-small' do %>
          Continue
        <% end %>
      </div>
<% end %>
<% end %>
