<% content_for :form_card_title do %>
  Steps
<% end %>

<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <div class="form-card__header">
      <h2 class="form-card__title">Here's how GetYourRefund works.</h2>
    </div>

    <div class="form-card__content">

      <div class="vertical-steps">
        <div class="vertical-steps__step">
          <div class="emoji emoji--med emoji--page-facing-up"></div>
          <h4>Submit any tax documents you have.</h4>
          <p class="text--small with-padding-small">Take 10 minutes to answer a few questions and snap pictures (or upload) your ID and tax documents.</p>
        </div>
        <div class="vertical-steps__step">
          <div class="emoji emoji--med emoji--clipboard"></div>
          <h4>We’ll prepare your tax return.</h4>
          <p class="text--small with-padding-small">Our IRS-certified tax volunteers will review your situation. If they need more information, they will get in touch by text message.</p>
        </div>
        <div class="vertical-steps__step">
          <div class="emoji emoji--med emoji--telephone-receiver"></div>
          <h4>We’ll review everything together over the phone.</h4>
          <p class="text--small with-padding-small">Once your tax return is ready, our tax volunteers will schedule a call to review your tax situation.</p>
        </div>
        <div class="vertical-steps__step">
          <div class="emoji emoji--med emoji--inbox-tray"></div>
          <h4>We'll file your taxes (if you want).</h4>
          <p class="text--small with-padding-small">If you choose to file your taxes, our tax volunteers will help you e-file.</p>
        </div>
        <div class="vertical-steps__step">
          <div class="emoji emoji--med emoji--dollar-banknote"></div>
          <h4>Get your refund!</h4>
          <p class="text--small with-padding-small">You'll usually get your refund within a month via check or direct deposit.</p>
        </div>
      </div>

      <div class="form-card__footer">
        <%= link_to next_path, class: "button button--primary with-padding-med" do %>
          Got it
        <% end %>
      </div>

    </div>
  </div>
<% end %>

