<% content_for :form_card_title do %>
  Steps
<% end %>

<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <div class="form-card__header">
      <h2 class="form-card__title">Here's how GetYourRefund works.</h2>
    </div>

    <div class="form-card__content">

      <div class="vertical-steps">
        <div class="vertical-steps__step">
          <div class="emoji emoji--med emoji--id_docs"></div>
          <h4>Apply for help online.</h4>
          <p class="text--small with-padding-small">Take 10 minutes to answer a few questions and snap pictures of (or upload) your ID and tax documents.</p>
        </div>
        <div class="vertical-steps__step">
          <div class="emoji emoji--med emoji--telephone-receiver"></div>
          <h4>We’ll review everything together over the phone.</h4>
          <p class="text--small with-padding-small">Our IRS-certified tax volunteers will review your situation. Once your tax return is ready, we'll schedule a call to review with you.</p>
        </div>
        <div class="vertical-steps__step">
          <div class="emoji emoji--med emoji--dollar-banknote"></div>
          <h4>We’ll help you file and get your refund (if you want)!</h4>
          <p class="text--small with-padding-small">If you choose to file your taxes, our tax volunteers will help you e-file. You’ll usually get your refund within a month via check or direct deposit.</p>
        </div>
      </div>

      <div class="form-card__footer">
        <%= link_to next_path, class: "button button--primary with-padding-med" do %>
          Got it
        <% end %>
      </div>

    </div>
  </div>
<% end %>

