<% content_for :form_card_title, "How much did you earn in 2018?" %>

<% content_for :form_card_content do %>
  <%= form_for @form, url: current_path, method: :put, local: true, builder: Eitc::EitcFormBuilder, html: { class: 'form-card form-card--transition' } do |f| %>
    <%= render "components/molecules/progress_step_bar" %>
    <div class="with-padding-med">
      <%= f.eitc_input_field :income, "How much did you #{married? ? 'and your spouse' : ''} <strong>earn in 2018</strong>?",
                             help_text: "We use your household income to see if you qualify for the services we are researching. Your best guess is okay.", type: 'tel', prefix: '$', classes: ['form-width--phone'] %>
    </div>

    <%= f.button :submit, class: 'button button--primary with-padding-small' do %>
      Next
    <% end %>

  <% end %>
<% end %>
