<div class="page-wrapper">
  <section class="slab disclaimer text--centered">
    <div class="grid">
      <div class="grid__item">
        <p class="with-no-padding">
          <strong>Disclaimer:</strong> This website is for example purposes only.
        </p>
      </div>
    </div>
  </section>
</div>
