<div class="grid">
  <div class="grid__item width-one-half action-bust with-padding-large">
    <div class="emoji emoji--big emoji--map"></div>
    <h3 class="h3">Find a tax site</h3>
    <p class="text--help">
      Get help in person or drop off your tax return. It's free for families with a household income of $55,000 or less.
    </p>
    <%= link_to "Find free tax sites", 'https://www.garycommunity.org/tax-help#gci-tax-app-filter-form', class: "button button--primary" %>
  </div>

  <div class="grid__item width-one-half action-bust">
    <div class="emoji emoji--big emoji--pencil"></div>
    <h3 class="h3">File your taxes online</h3>
    <p class="text--help">
      Filing online is quick, convenient, and free if you make less than $66,000.
    </p>
    <%= link_to "MyFreeTaxes.com", "https://www.myfreetaxes.com/", class: "button button--primary" %>
  </div>
</div>