<footer class="slab slab--dark site-footer">
  <div class="grid">
    <div class="grid__item width-one-half with-padding-small">
      <p>
        This nonprofit website was made for the working people of Colorado through an effort by Code for America
        and the Colorado Department of Labor and Employment.
      </p>
    </div>
    <div class="grid__item width-one-half">
      <div class="cfa-logo">
        <a href="https://codeforamerica.org">
          <%= image_tag "CfALogo-White.svg", class: "image image--cfa-logo", alt: "Code for America" %>
        </a>
      </div>
    </div>
  </div>
</footer>