<header class="main-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <h1 class="main-header__title">
        <a class="main-header__logo" href="/en">GetYourRefund.org</a>
      </h1>
    </div>
<!--    <div class="toolbar__right">-->
<!--      <a class="toolbar__item text--small" href="?new_locale=es">En Español</a>-->

<!--    </div>-->
  </div>
</header>