<header class="main-header">
  <div class="toolbar">
    <div class="toolbar__left">
      <h1 class="main-header__site-name">
        <a class="main-header__logo" href="/">ClaimTheCredit.org</a>
      </h1>
    </div>
  </div>
</header>