<div class="grid text--centered">
  <div class="grid__item width-one-third shift-one-third action-bust">
    <div class="emoji emoji--big emoji--mail-open"></div>
    <h3 class="h2">Not ready to file yet?</h3>
    <p>
      Not ready to file but want a reminder? Sign up here.
    </p>
    <%= link_to "Get a reminder", new_reminder_contact_path, class: "button button--primary" %>
  </div>
</div>