
<% content_for :page do %>
  <div class="slab">
    <div class="grid">
      <div class="grid__item">
        <h1>Arapahoe Douglas Works! DIY Tax Clinic</h1>
        <p>
          Thanks for joining us!
        </p>
        <p>
        <%= link_to "File taxes", "https://www.taxslayer.com/americanpledge/?source=TSUSATY2018&affid=9090&src=SIDN31091977", class: "button"%>
        </p>
        <p>
        <%= link_to "Take our survey", "https://docs.google.com/forms/d/e/1FAIpQLSemJCZYWZUSQduFeZQdzlvrLwhOaB4zDIqQzMoMY4WNhEkcaQ/viewform?usp=sf_link", class: "button"%>
        </p>
      </div>
    </div>
  </div>
  <script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
  <script>
    window.FrontChat('init', {chatId: '7163f61c9690fe0f5d9271e705041ead', useDefaultLauncher: true});
  </script>
<% end %>
