<section class="slab slab--fold">
  <div class="grid">
    <div class="grid__item width-three-fourths">
      <h2>File online for free</h2>
      <h1>United Way and H&R Block made free tax help website that can help you claim all the credits you've earned.</h1>
    </div>
  </div>
</section>
<section class="slab slab--white slab--steps text--centered">
  <div class="grid with-padding-large">
    <div class="grid__item width-one-third">
      <div class="emoji emoji--big emoji--lock"></div>
      <h3>Create an account</h3>
      <p class="text--small">Sign up to create a secure H&R Block account with your own password, username, and security questions.</p>
      <%= link_to "Create an account", "https://www.hrblock.com/cmpgn/goto.html?tcxd=1&productid=32&otppartnerid=9006&campaignid=pw_mcm_9006_0001&SID=S01091837&appdl=s3k2r2vj", class: "button" %>
    </div>
    <div class="grid__item width-one-third">
      <div class="emoji emoji--big emoji--to-mobile"></div>
      <h3>File on MyFreeTaxes.com</h3>
      <p class="text--small">Look for the MyFreeTaxes logo in the top-left to be sure that it's free</p>
      <%= link_to "File online", "https://www.myfreetaxes.com/goodbye", class: "button" %>
    </div>
    <div class="grid__item width-one-third">
      <div class="emoji emoji--big emoji--money"></div>
      <h3>Get your refund</h3>
      <p class="text--small">Get a refund with all the tax credits that you've earned by mail or direct deposit.</p>
    </div>
  </div>
</section>