<% content_for :form_card_title do %>
  Tax Documents
<% end %>

<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <div class="form-card__header">
      <%= render "components/molecules/progress_step_bar" %>
      <div class="text--centered with-padding-large" style="margin-top:-40px;">
        Part 2 of 3: Submit IDs
      </div>
      <h2 class="form-card__title with-padding-small">Great! The next step is to get the required ID documents.</h2>
    </div>

    <div class="form-card__content with-padding-large">
      <p class="text--centered with-padding-large">
        You'll need to submit a photo ID of the head of household and social security cards for everyone.
      </p>

      <div class="emoji emoji--small emoji--lock">
      </div>
      <div class="text--help">
        We take your privacy seriously. Rest assured that these documents are kept in a secure location and will not be shared with the IRS or any other organization. If you decide to file, relevant documents will be included with your tax return to the IRS.
      </div>
    </div>

    <div class="form-card__footer">
      <%= link_to next_path, class: "button button--primary with-padding-med" do %>
        Continue
      <% end %>
    </div>
  </div>
<% end %>

