<% content_for :form_card_title do %>
  Have you already filed taxes for any of these years?
<% end %>

<% content_for :form_card_content do %>
  <%= form_for @form, url: current_path, method: :put, local: true, builder: Eitc::EitcFormBuilder, html: { class: 'form-card form-card--transition' } do |f| %>
    <div class="form-card__content">
      <%= f.eitc_checkbox_set(:years_already_filed,
         current_vita_client.tax_years.map { |year| { label: "I filed for #{year}", method: :years_already_filed, checked_value: year, unchecked_value: nil } },
         label_text: "Have you already filed taxes for any of these years?",
         none_option: "I haven't filed for any years above")%>
    </div>
    <div class="form-card__footer">
      <%= f.button :submit, class: 'button button--primary with-padding-small' do %>
        Continue
      <% end %>
    </div>
  <% end %>
<% end %>
