<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <div class="form-card__header">
      <div class="emoji emoji--huge emoji--warning"></div>
      <h1 class="form-card__title">Sorry, this link has expired.</h1>
    </div>
    <div class="form-card__content text--left">
      <div class="with-padding-med">
        For your privacy, we expire links after 5 days. Please contact your tax preparer to request a new link.
      </div>
      <ul class="with-padding-med list--bulleted">
        <li>Email us at <strong>vita-support@codeforamerica.org</strong></li>
        <li>Text us at <strong>720-728-0704</strong></li>
      </ul>
      <p>
        Thanks!<br/>
        The Code for America Team
      </p>
    </div>
    <div class="form-card__footer">
    </div>
  </div>
<% end %>

