<% content_for :form_card_title do %>
  Steps
<% end %>

<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <div class="form-card__header">
      <div class="emoji emoji--big emoji--checkmark"></div>
      <h1 class="form-card__title">Your tax information has been successfully submitted!</h1>
    </div>

    <div class="form-card__content">

      <div class="text--centered">
        <h2>What to expect next</h2>
        <p>
          You should receive a confirmation by text message shortly.
        </p>
        <p>
          Our tax preparers will review your situation and be in touch within the next few days.
        </p>
      </div>

    </div>
  </div>
<% end %>

