<% content_for :form_card_title do %>
  Steps
<% end %>

<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <div class="form-card__header with-padding-large">
      <div class="emoji emoji--big emoji--white-heavy-checkmark with-padding-med"></div>
      <h1 class="form-card__title with-padding-small">Your tax information has been successfully submitted!</h1>
      <p>
        Signed <%= current_vita_client.local_signed_at.strftime("%l:%M %P %Z on %b %-m, %Y")%>
      </p>
    </div>

    <div class="form-card__content">
      <div class="text--centered">
        <h2>What to expect next</h2>
        <p>
          You should receive a confirmation by text message shortly.
        </p>
        <p>
          Our tax preparers will review your situation and be in touch within the next few days.
        </p>
      </div>

    </div>
  </div>
<% end %>

