<% content_for :form_card_title do %>
  Is there anyone you can claim as a dependent?
<% end %>

<% content_for :form_card_content do %>
  <%= form_for @form, url: current_path, method: :put, local: true, builder: Cfa::Styleguide::CfaFormBuilder, html: { class: 'form-card form-card--transition' } do |f| %>
    <div class="form-card__header">
      <div class="emoji emoji--huge emoji--front-facing-baby-chick"></div>
    </div>
    <div class="form-card__content">
      <h1 class="h2 form-question">Is there anyone you can claim as a dependent?</h1>
      <p>This generally means a child or aging parent that you live with and financially support.</p>
    </div>
    <div class="form-card__footer">
      <%= f.button :submit, name: form_name + '[has_dependents]', value: 'yes', class: "button" do %>
        <span class="button__icon--left emoji emoji--inline emoji--checkmark"></span> Yes
      <% end %>
      <%= f.button :submit, name: form_name + '[has_dependents]', value: 'no', class: "button" do %>
        <span class="button__icon--left emoji emoji--inline emoji--crossmark"></span> No
      <% end %>
    </div>
  <% end %>
<% end %>
