<% content_for :form_card_title do %>
  Questions
<% end %>

<% content_for :form_card_content do %>
  <div class="form-card form-card--transition">
    <div class="form-card__content">
      <div class="form-card__header">
        <%= render "components/molecules/progress_step_bar" %>
        <div class="text--centered with-padding-large" style="margin-top:-40px;">
          Part 1 of 3: Basic Information
        </div>
        <h2 class="form-card__title with-padding-small">Let's start with some basic information.</h2>
      </div>

      <div class="form-card__content with-padding-large">
        <p class="text--centered">
          We'll ask about your household and filing status.
        </p>
      </div>

      <div class="form-card__footer">
        <%= link_to next_path, class: "button button--primary with-padding-med" do %>
          Continue
        <% end %>
      </div>
    </div>
  </div>
<% end %>
