<div class="uploaded-file-detail" id="{{id}}">
    <div class="doc-preview">
        <div class="doc-preview__info">
            <h4 class="loading">Uploading</h4>
        </div>
        <div class="doc-preview__thumb"></div>
    </div>
</div>