/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'cfa_styleguide_main';
@import 'atoms/emoji';
@import 'atoms/typography';
@import 'atoms/buttons';
@import 'atoms/form-widths';
@import 'atoms/illustrations';
@import 'molecules/disclaimer';
@import 'molecules/emoji-heading';
@import 'molecules/button-set';
@import 'molecules/progress-bar';
@import 'molecules/reveal';
@import 'organisms/action-bust';
@import 'organisms/header';
@import 'organisms/footer';
@import 'organisms/form-card';
@import 'organisms/testimonial';
@import 'templates/homepage';

.slab--dark {
  background-color: $color-darkest-grey;
  color: white;
}

.doc-preview__info {
  overflow-wrap: break-word;
}