<% content_for :form_card_title, "What are your household earnings?" %>

<% content_for :form_card_content do %>
  <%= form_for @form, url: current_path, method: :put, local: true, builder: Eitc::EitcFormBuilder, html: { class: 'form-card form-card--transition' } do |f| %>
    <%= render "components/molecules/progress_step_bar" %>
    <div class="with-padding-med">
      <%= f.eitc_input_field :income, 'What are your <strong>household earnings</strong>?', type: 'tel', prefix: '$', classes: ['form-width--phone'] %>
    </div>
    <%= f.button :submit, class: 'button button--primary with-padding-small' do %>
      Estimate my refund
    <% end %>
  <% end %>
<% end %>
